h1 {
    color: #4ac1f7;
}

.mylogo {
    height: 300px;
    width: auto;
    }
























    .post-entry h2 {
        margin: 0.5rem 0;
    }
    post-entry h2 a.
    .post-entry h2 a:visited {
        color: red;
        text-decoration: none;
    }

    .post-entry p {
        margin: 0;
        font-weight: 400;
    }

    .post-entry h2 a:hover{
        color: blue;
    }